################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareEngineeringFSU/FileContentIndex/write.lock
/.vs/SoftwareEngineeringFSU/FileContentIndex/merges/35f1bf39-fcb9-45e7-a25b-3d6bbd34fba6.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/merges/0604ea47-bf00-448a-8ffe-02c37a39b8a6.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/b6564496-9a22-4302-88ed-89c64d96b7d4.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/aca85d2e-b894-423b-81ea-4f93c24b202f.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/a8387aaf-ea6e-4853-b94e-bec2798a84f5.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/819b7bdf-110d-44b8-aed3-69dac22fc07e.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/2ccd1b56-5f6b-4cfa-8205-ca25e835ed3e.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/4948c314-d2f3-4e86-82c2-d3773bab8bc2.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/39cd1295-1973-4bc2-9342-8e4909627380.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/03d5dcb2-a2ec-4898-91b1-17e69a00f208.vsidx
/.vs/SoftwareEngineeringFSU/FileContentIndex/d9f866d1-12d7-4661-a478-c8ab0cd61dbf.vsidx
/.vs/SoftwareEngineeringFSU/obj/Debug/
/.vs/SoftwareEngineeringFSU/obj/Release/
/.vs/SoftwareEngineeringFSU/obj/.cache/
*.vsidx
/Codeholic/bin/Debug/com.companyname.codeholic.apk
/Codeholic/bin/Debug/com.companyname.codeholic-Signed.apk
/.vs/SoftwareEngineeringFSU/v17/workspaceFileList.bin
/.vs/SoftwareEngineeringFSU/v17/.wsuo
/.vs/slnx.sqlite
/.vs/Codeholic/v17/.suo
